[2020-04-01 11:42] dulkith opened #3 "Nest app not start"
Nest app not start with this error after add this to app module
![Screenshot from 2020-04-01 17-10-36](https://user-images.githubusercontent.com/11438978/78133303-d09c0600-743b-11ea-872a-f22d743f412a.png)

[2020-05-04 02:25] Jeff-Tian commented on #3
+1

[2020-05-14 08:01] driesvancraen opened #4 "Roles decorator"
Hi,

The documentation on NPM speaks about a Roles decorator.
But it is nowhere to be found.
Is it possible to have this working?

[2020-05-14 08:05] ferrerojosh commented on #4
Which documentation ? I do not remember having a Roles decorator, only Resource and Scopes

[2020-05-14 08:07] #3 closed

[2020-05-14 08:21] driesvancraen commented on #4
I just realized it was a fork on NPM that directed to your original repo. My bad!
https://www.npmjs.com/package/@cenkce/nest-keycloak-connect

[2020-05-14 08:21] #4 closed

[2020-05-14 11:37] ferrerojosh opened #7 "feat: Add roles guard"
There is already a fork existing with such a feature by @cenkce

I'm thinking how I will integrate the fork without breaking anything, I do not want to include the controller caveats as I plan on this to be simply an adapter, nothing more.

Link to fork: https://github.com/cenkce/nest-keycloak-connect

[2020-05-24 04:21] yosdanybm opened #8 "Nest not start"
Nest app does not start me, and I have it configured exactly as in the documentation, this is the error:
![nest](https://user-images.githubusercontent.com/12848126/82745617-83118a80-9d54-11ea-9ac2-fa451615dc95.PNG)

[2020-05-24 20:14] yosdanybm commented on #8
I solved with the fork by @cenkce, in the master you have a regression.

Link to fork: https://github.com/cenkce/nest-keycloak-connect

[2020-05-24 20:14] #8 closed

[2020-05-31 12:07] ferrerojosh commented on #8
Fixed in 1.0.10. Thanks.

[2020-05-31 14:48] #7 closed

[2020-06-06 02:43] EFritzsche90 opened #10 "Cannot read property 'undefined' of undefined when sending no cookies"
Hi,

you had a change in 1.0.9 in auth.guard.ts:

**Old**
  static extractJwtFromCookie(cookies: { [key: string]: string }) {
    return cookies?.keycloakJWT;

**New**
  extractJwtFromCookie(cookies: { [key: string]: string }) {
    return cookies[this.keycloakOpts.cookieKey] || cookies.KEYCLOAK_JWT;
  }

I think you lost a fix done from a feature request. Problem is now, that you get a _"Cannot r

[2020-06-10 03:53] #10 closed

[2020-06-15 22:02] anonrig opened #15 "Missing implementation for Resource-Based Authorization"
According to the docs enforcer function can also have a claims function to define the resource URI's. Currently, nest-keycloak-connect doesnt provide the functionality.

[code]

[2020-06-15 22:03] anonrig commented on #15
More information can be found on https://www.keycloak.org/docs/latest/securing_apps/#_nodejs_adapter

[2020-06-16 04:49] ferrerojosh commented on #15
I released an alpha build for this, feel free to make suggestions to the PR: #16

```npm install nest-keycloak-connect@1.3.0-alpha.01```

Usage:
[code]

[2020-06-16 12:20] anonrig commented on #15
Hey @ferrerojosh thank you for your fast response.

[code]
Gives the following log:

[Nest] 5392   - 06/16/2020, 3:19:17 PM   [ResourceGuard] Protecting resource 'organization' with scopes: [ undefined ]

[2020-06-16 12:21] anonrig commented on #15
My personal opinion is: We can get the http.uri and user.agent by default on the library side, and just skip the claims by default, but developer should have the ability to override it.

[2020-06-16 12:24] anonrig commented on #15
With using it with Scopes, I'm having trouble getting a 200 response.

Logs:

[Nest] 5445   - 06/16/2020, 3:22:09 PM   [ResourceGuard] Protecting resource 'organization' with scopes: [ read ]
[Nest] 5445   - 06/16/2020, 3:22:09 PM   [ResourceGuard] Resource 'organization' denied to test-user.

[code]

[2020-06-16 20:00] ferrerojosh commented on #15
What it does is merely push additional claims to be evaluated in the keycloak server side. This depends on your authorization policies whether these additional claims will be evaluated or not.

So I for example can do:
[code]
And my keycloak realm has a policy that only permits any user claims that `haveMoney` with value of true.

Is your keycloak realm configured properly ? With an `organization`

[2020-07-09 10:22] Klaslas opened #18 "Missing release of the latest version on npm"
The last publish on npm was two months ago. Would be nice to get the newest version of your library through the package-manager npm (https://www.npmjs.com/package/@cenkce/nest-keycloak-connect).

[2020-07-09 10:37] #18 closed

[2020-07-09 10:38] Klaslas commented on #18
Sorry, I referenced the wrong repository.

[2020-07-28 10:12] MarcBollmann opened #19 "Configuration of Role-based authentication"
Hello I configured 'nest-keycloak-connect' and some endpoints with Role-based authentication. Everytime I try to do the actual api-call via swagger I get a 403 Forbidden Ressource Error.

What are the exact configurations you have to do in Keycloak?
I created a role (I tried realm and client role) and added my user to it. If I use the @AllowAnyRole()-decorator it works fine, thats why I think this

[2020-07-28 10:18] MarcBollmann commented on #19
Client role:
![grafik](https://user-images.githubusercontent.com/25687814/88653202-0db39480-d0cc-11ea-8cd6-7f5a34ea3e5d.png)

Realm role:
![grafik](https://user-images.githubusercontent.com/25687814/88653358-3d629c80-d0cc-11ea-8fe7-6d355e3784b4.png)

My User:
![grafik](https://user-images.githubusercontent.com/25687814/88653461-671bc380-d0cc-11ea-85cb-fc89d4ad5461.png)

[2020-07-28 13:02] #19 closed

[2020-08-01 23:41] dulkith opened #21 "ValidateAccessToken Error: Error: 404:Not Found"
I got error when access this end point.

`validateAccessToken Error:  Error: 404:Not Found
    at ClientRequest.<anonymous> (/Users/HELLO/Documents/GitHub/MY_COM/app-service/node_modules/keycloak-connect/middleware/auth-utils/grant-manager.js:523:23)
    at Object.onceWrapper (events.js:422:26)
    at ClientRequest.emit (events.js:315:20)
    at HTTPParser.parserOnIncomingClient [as onIncoming] (_

[2020-08-02 10:34] #21 closed

[2020-08-23 01:01] stackatom opened #22 "keycloak 11 & nest-keycloak-connect 1.3.0-alpha.3 - fail to get 200 with roles"
Hi,

I'm trying to make this project work with latest keycloak docker instance (currently version 11.x).

Using a fresh nestjs project with latest nest-keycloak-connect i'm using the following code :

[code]

I have setup a keycloak custom realm, with a scope "admin" and a role "admin" under it.
Here is the decoded jwt I try to pass to the app :

[code]

I also try to add   @Scopes('admin'), witho

[2020-08-28 10:14] ferrerojosh commented on #22
`Resource` and `Scopes` are part of Keycloak's Authorization and Services (AuthZ)

Your Keycloak server needs to be properly setup in order for this to work. Please see https://www.keycloak.org/docs/latest/authorization_services/ for more information regarding this.

As for the roles, by default it will use the roles ***within your application***, if you want to use realm roles, follow the format

[2020-08-28 10:15] ferrerojosh commented on #22
Tickets like this seems to be more rampant, I'll soon be putting up a proper example project so people won't get confused later on.

[2020-08-28 10:16] ferrerojosh commented on #22
As for the keycloak version supported by this lib, as of writing it currenly supports `keycloak-connect@^9.0.0`

[2020-10-14 20:43] colorado-nate commented on #22
Any guesses when keycloak 11 support will be released?

[2020-10-30 08:32] joravkumar commented on #21
@dulkith
I'm facing the same issue. Can you please describe how you solve this error?

Thanks in advance.

[2020-11-07 12:15] BoKKeR opened #24 "OptionalUnprotected decorator"
Is there a way to have a single endpoint work with authenticated users, and no authenticated users? Without stripping away the authorization header?

I have a few use cases. For the commentSection, we have a single endpoint where we fetch the comments, not logged in users should be able to fetch comments. But when a user is logged in, the same endpoint should be usable, but it should also pass in

[2020-11-15 14:55] ferrerojosh commented on #22
I'll check if there are any breaking changes, then I'll do a release

[2020-11-17 10:03] Diluka opened #25 "make @Public work with controller class"
currently only check routes
https://github.com/ferrerojosh/nest-keycloak-connect/blob/090f1b6732ee62c74815cc529393a7d03f1c8124/src/guards/auth.guard.ts#L29-L32

this may help https://github.com/nestjs/nest/blob/54570aa0c81ceca447f6c990fe186f41dbdbfda7/packages/core/services/reflector.service.ts#L78-L93
[code]

[2020-11-30 09:56] Diluka opened #27 "compatible with openid connect"
- https://github.com/panva/node-openid-client
- https://openid.net/connect/faq/

in `OIDC`, client(browsers) only provide `id_token`(which `typ` is `ID`) to request API, `access_token` should be secured on server side

example of `id_token`
[code]

[2020-12-02 10:47] ferrerojosh commented on #24
No need for an additional decorator for this, I'll be adding a `skipAuth `parameter to the readily-available `@Unprotected/@Public` decorators.

[2020-12-02 10:56] ferrerojosh commented on #27
This should be supported by keycloak (their docs says so) since this library is merely a nest adapter of their library.

[2020-12-02 10:56] #27 closed

[2020-12-02 11:14] #15 closed

[2020-12-02 11:14] #25 closed

[2020-12-02 11:14] #24 closed

[2020-12-03 06:10] #22 closed

[2020-12-11 22:08] EFritzsche90 opened #29 "@Public and @Unprotected decorator cannot be used"
Version: 1.3.0
Typescript: 4.1.2

Using @Public or @Unprotected decorator is not possible. Following error is shown in console.

`TS1241: Unable to resolve signature of method decorator when called as an expression.   This expression is not callable. Type 'void' has no call signatures.`

If I use "any" instead of "void" it is working.

[2020-12-13 13:03] #29 closed

[2020-12-22 12:44] jbpin opened #31 "keycloak config differ from the one provided by keycloak server"
Keycloak nodejs lib allow user to configure the connection using a JSON File (keycloak.json) or in copy paste from the admin console. https://www.keycloak.org/docs/latest/securing_apps/#usage-2

Here is the source code for this.
https://github.com/keycloak/keycloak-nodejs-connect/blob/f8e011aea5/middleware/auth-utils/config.js

Can we align the https://github.com/ferrerojosh/nest-keycloak-connect/

[2020-12-22 22:33] RogierdeRuijter opened #32 "Expose the KEYCLOAK_INSTANCE constant"
Hello!

I would like to use the `KEYCLOAK_INSTANCE` constant so I can inject the Keycloak instance in my application.

Like this:
[code]

Exposing the KEYCLOAK_INSTANCE constant through the library interface is that something you would like to do? If yes, I could make a PR for it.

Cheers

[2020-12-23 13:24] shirish87 commented on #32
+1

This would be useful in my case for implementation of a custom role guard. In addition to `KEYCLOAK_INSTANCE`, some of the decorator constants (META_SKIP_AUTH, etc.) may also be useful to expose.

atm, I get around this by copying over constants from the library into a file.

Either public constants or some sort of base `AuthGuard` with helpers would go a long way.

Thanks!

![image](https://u

[2020-12-23 21:06] ferrerojosh commented on #32
I have no issues regarding this. It promotes a little bit of extensibility like custom guards.

PRs are welcome. I'll release this along with the next minor version.

[2020-12-23 21:11] ferrerojosh commented on #31
I could officially follow the typings here: https://github.com/keycloak/keycloak-nodejs-connect/blob/master/keycloak.d.ts

But for more flexibility, I'll follow the javascript version of the code.

[2020-12-23 22:48] #31 closed

[2020-12-23 22:48] #32 closed

[2020-12-24 10:52] RogierdeRuijter commented on #32
Love it thanks!

[2020-12-31 06:50] rokal opened #34 "We might not want to enforce @nest/graphql dependancy"
I am using Nest without graphql and I just realize that the new version and  have `@nestjs/graphql` dependancy error. We need to make sure the user has that dependancy before trying to load it.

[2020-12-31 10:46] #34 closed

[2021-01-15 23:46] colorado-nate opened #36 "Request support for Keycloak 12"
Keycloak-connect 12.0.1 and keycloak 12.0.1 have been released.  Are there plans to support this newer version?  Thanks!

[2021-01-17 13:04] stingalleman commented on #36
I also have this question.

[2021-01-20 01:28] tillsanders commented on #36
I, too, need this, so I cloned the repo and started looking for the things that would need updating. I'm far from being an expert on nest, keycloak or this plugin, but as far as I can see, there isn't much to do. I actually managed to get it working only by updating the `keycloak-connect` dependency to the latest version. So far, it works as expected 👍

[2021-01-20 20:52] SergKozyrev opened #37 "Secret key"
Hi, why in keyckloak config secret is required? In keycloak-connect is not required.
What should i do if my client is public?

[2021-01-20 20:53] tillsanders commented on #36
I'm on a tight schedule with this project, so I forked this module, made a build with the latest version of `keycloak-connect` and published that to the GitHub NPM Registry: https://github.com/tillsanders/nest-keycloak-connect/packages/582546

If any of you might need this too, you can install  it by first adding this to your project's `.npmrc`:

[code]

Then install it like this:

[code]

Make su

[2021-01-20 21:19] tillsanders commented on #37
I needed to figure this out, too. Maybe this article will help you: https://chamith.medium.com/secure-front-end-react-js-and-back-end-node-js-express-rest-api-with-keycloak-daf159f0a94e

I set up two separate clients: a public one for the frontend and a bearer-only one for the backend.

[2021-01-20 21:37] SergKozyrev commented on #37
@tillsanders , thank you for the article, but I can use only public clients for the backend. With keycloak-express, i can do it, but I want to use nestJs and really don't understand why secret is required.

[2021-01-21 09:32] tillsanders commented on #37
I see. Well, to answer your question, this plugin seems to rely solely on JWT to authenticate users (see [here](https://github.com/ferrerojosh/nest-keycloak-connect/blob/master/src/guards/auth.guard.ts#L60)) and for that it has to have a shared secret with the server. That won't help you, but at least that is the reason why the secret is required.

May I ask why you can only use public clients for

[2021-01-21 11:30] SergKozyrev commented on #37
Thank you for helping, it looks like I should use other solutions. I need public clients because I create clients dynamically.

[2021-01-24 17:27] ferrerojosh commented on #36
Will make a small change for this.

[2021-01-24 17:29] ferrerojosh commented on #37
Thanks for this. I forgot I changed the config and still required a secret.

[2021-01-24 17:37] ferrerojosh commented on #37
But having no secret will disable the Keycloak AuthZ function, hence it will be a problem for this library which is built around that. It might be better to use bearer-only using [passport](https://github.com/jaredhanson/passport) since a keycloak server will fully support it since it uses the OAuth 2.0 standard.

If I find good way to make this work as bearer-only, I'll be reopening this issue. B

[2021-01-24 17:37] #37 closed

[2021-01-24 17:40] #36 closed

[2021-02-09 16:07] SalahAdDin commented on #19
@MarcBollmann How did you solve this?

[2021-02-09 20:50] SalahAdDin opened #38 "Forbidden resource with GraphQL"
I have one day trying to authenticate a **GraphQL** mutation without any success:
[code]

I request the **JWT** token and i pass it ass a bearer token, it contains the required rol:
[code]

The **Keycloak** settings are:
[code]
where:
[code]

At playground i try:
<img width="1440" alt="Screen Shot 2021-02-09 at 23 42 07" src="https://user-images.githubusercontent.com/5034215/107426613-8098d000-6b3

[2021-02-09 23:12] MarcBollmann commented on #19
@SalahAdDin I think the fault was that swagger doesn't support redirections try paste the api request in your browser address bar!

[2021-02-10 06:31] SalahAdDin commented on #19
@MarcBollmann well, i'm working with **GraphQL** and i can't make it work.

[2021-02-10 13:55] ferrerojosh commented on #38
Use AllowAnyRole decorator, the Roles decorator are using 'AND' and adding AllowAnyRole makes it into an 'OR'.

I think I need to revise the decorators.

[2021-02-10 13:55] #38 closed

[2021-02-10 14:36] sharife3 opened #39 "Is it possible to access the user thats logged in? If so, how?"
I ideally would like to be able to see on the given protected method the user thats accessing it - to apply further logic based on the user detail.

Any thoughts? Suggestions?

Thanks

[2021-02-10 14:56] sharife3 commented on #39
I found out how to do this - by using Param Decorator from NestJS to pass in the context and retrieve user from the request there.

Many thanks

[2021-02-10 14:56] #39 closed

[2021-02-10 16:07] SalahAdDin commented on #38
@ferrerojosh yeah, you are right about it. Can you provide us a very good documentation about decorators where we can learn how to use it? or, Can you improve this package documentation to make us easier to understand this decorators?

Thank you

[2021-03-04 18:22] lieberlois opened #40 "Is there a way to disable token ISS validation?"
Is there a way to disable the ISS validation of the token? This is possible with typical Keycloak Libraries for .NET and required for some setups (especially in development)!

[2021-03-10 03:42] ferrerojosh commented on #40
Not that I know of, this is an adapter for the official keycloak nodejs library, I [dug around](https://github.com/keycloak/keycloak-nodejs-connect/blob/f8e011aea5021b81cd085df078eee7b5d773d0cc/middleware/auth-utils/grant-manager.js#L428) and there seemed to be no way to disable it.

[2021-03-25 11:31] seimic opened #41 "Logging"
Hi,

any chance to see some verbose logging in the future?
Preferable using nest logging and as option in KeycloakConnectOptions.

`KeycloakConnectModule.register({ ..., logLevel: 'debug' })`

and 'warn' or 'error' as default.

Kind regards,
Michael

[2021-03-27 09:57] mghstehr opened #42 "Express support?"
You wrote "Compatible with Fastify platform.".
Does it mean, it will not work, when the default Express base is used ?
And if not working on Express base, are you planning to support it in the near future ?

Thanks
Matthias

[2021-03-31 17:51] SantoshKumarSubedi commented on #32
I am trying to inject KEYCLOAK_INSTANCE in services but It always shows the same error.

![image](https://user-images.githubusercontent.com/20809800/113186730-be83bc00-9277-11eb-931d-01fd008b21bb.png)

I have register KeycloakConnectModule in _app.module.ts_ as shown in the DEMO and imported it in _users.module.ts_ as well.

I may be missing something here but i am new to nest so any help will be

[2021-04-03 12:07] ferrerojosh commented on #42
It should work with base express by default. NestJS allows you to either use express or fastify and it depends on what you use.

The library adapted itself has full support for express.

[2021-04-03 12:07] #42 closed

[2021-04-11 16:38] jalorenz opened #43 "Decorator for authenticated user"
Hi John,

first of all thanks a lot for this package :)

While using your package i asked myself, how can i receive user information like the user id. After digging the code i saw that you already assign the user information to the request object. Maybe you should write that in the documentation because other people might have the same question.

P.S.: the following decorator might be some syntax

[2021-04-12 02:27] ferrerojosh commented on #43
Hello! Feel free to do a pull request for this. Would gladly accept this decorator into the library.

[2021-04-12 18:29] #43 closed

[2021-04-12 18:29] #41 closed

[2021-04-12 18:33] ferrerojosh commented on #43
I added it myself since I wanted to release 1.5.0 today.

[2021-04-12 18:50] ferrerojosh opened #45 "@AllowAnyRole is confusing"
As of the moment, `@AllowAnyRole` decorator is quite confusing. I am planning to deprecate this decorator in favor of a better name. It also confused developers since they are using it alone when `@Roles` is supposedly be used together with it (yes `@AllowAnyRole` won't do anything without `@Roles`).

I can take it any suggestions you like for this.

[2021-04-12 20:30] jalorenz commented on #45
What do you think about an additional parameter for the decorator? I thought about some kind of matching mode, for example MatchingMode.ANY and MatchingMode.ALL. MatchingMode.ALL could be the default value.

[code]

[2021-04-13 10:06] eckon opened #46 "Empty JWT will result in valid (authenticated) request in version 1.5"
When changing from version 1.4.3 to version 1.5 requests with no JWT will still be seen as authenticated requests.

It was probably introduced in the commit 244a109c3f9eb415a838efe6e8d38eb090450512 with the following:
https://github.com/ferrerojosh/nest-keycloak-connect/commit/244a109c3f9eb415a838efe6e8d38eb090450512#diff-231e8526045ebda19da204498033feaa52eb8ea104797e7847369fc243f93aa8R62

Example

[2021-04-13 10:10] eckon commented on #46
Downgrading to version 1.4.3 results in the wanted and expected behaviour

Empty JWT:
![image](https://user-images.githubusercontent.com/40291209/114536279-34f9c400-9c51-11eb-8fa6-e19ed5f5f912.png)

[2021-04-13 12:57] ferrerojosh commented on #45
I'll take this suggestion into account, thanks!

[2021-04-13 15:18] #46 closed

[2021-04-25 17:48] ericmartinezr opened #50 "Error if no logLevels property is defined"
Hello,

this is my first issue here. I've been using this lib since version 1.3.1. Now I decided to update it to the latest version 1.5.2 but I got this error

[code]

My config was as follows

[code]

By the error message I figured it out that I was missing something so I got to the repo and I saw that there's a property that I didn't have: `logLevels`.

The solution is as simple as adding `logLe

[2021-04-27 12:42] mvtavares opened #51 "Problem validating token using client_credentials grant"
Hello guys,

Thanks for the great module, is really helpful.

I'm using keycloak v12.0.4 and nest-keycloak-connect v1.5.2.

I don't know if i'm doing something wrong, but i'm getting the following message when trying to use an protected route after getting an client_credentials token:

-  [Keycloak] Cannot validate access token: Error: Error fetching account

If i get a password grant, than everyt

[2021-04-29 09:57] jeffreychu-nexplore opened #53 "Throw 403 error instead if 401 error"
I updated from 1.4.3 to 1.5.2 and I found when no token or token expire will throw 403 Forbidden error instead of 401 unauthorized error.

[2021-04-29 19:50] ferrerojosh commented on #51
I'll look into this, thanks.

[2021-04-29 19:57] #50 closed

[2021-04-29 20:12] dkfiresky commented on #51
I would like to report similar behavior.
It looks like nothing happening after logging these lines:

[code]

I have not found any errors in the Keycloak logs. And it seems like it works sometimes just fine, but then on another computer with same setup (using Keycloak exported realm.json) it stops without reason.

[2021-04-29 20:44] ferrerojosh commented on #51
Also may I ask for the use-case for this ? I'm assuming Keycloak should already be the client/secret internally as a service account to authenticate/authorize using the jwt provided by the logged-in user (bearer/cookies). This service account is automatically enabled when you turn on authorization at the client level. Service accounts don't have user information hence the error encountered.

[2021-04-29 20:54] mvtavares commented on #51
Hi Josh,

The use-case is when you're have some protected endpoints could to be used by clients/customers, but also by other microservices/batches which would not have a password grant, but a client_credentials without any user associated.

Does that make sense?

tks,

Marcus.

[2021-04-29 21:05] ferrerojosh commented on #51
I got the idea. Thanks. I'm thinking of changing the user object to just parse the access token jwt, is that okay for you ?

[2021-04-29 21:09] mvtavares commented on #51
Sure, that would be great.

Thanks a lot!

[2021-04-29 21:28] #53 closed

[2021-04-29 21:28] #51 closed

[2021-05-08 11:01] ferrerojosh opened #55 "Add option to configure permission policy"
The current behavior is to permit everything if it isn't explicitly assigned a decorator, we can add an option to freely change this.

[2021-05-25 12:19] tilmanmoser opened #57 "@AuthenticatedUser in GraphQL Resolver"
Hi, is it possible to access the current user in a GraphQL resolver?

I followed your example project and endpoints are secured; the logs show that there is a user authenticated, using @AuthenticatedUser though breaks the code, since "user" seems not to be present in the req object:
[code]

Here's the code:
[code]

[2021-05-26 07:08] tilmanmoser commented on #57
Hi. When using GraphQL Resolvers, you first must create a GraphqlExecutionContext before accessing the request. I was able to fix this with a custom decorator:

[code]

[2021-05-26 18:57] gogo199432 opened #58 "FEATURE: Have a way to inject custom logger"
Hi,

I'm using the nest-winston logger in my project, but when it is active, this package does not log anything, no matter the log level. However after I disable the winston logger it does. It would be nice to allow somehow to inject a logger instead of the default one here, or just be like "useIncludedLogger" where if false it naively instantiates  a new logger trusing the nest framework to have

[2021-05-31 18:12] pedrolucasoliva opened #59 "AuthenticatedUser decorator"
I'm developing a multi-tenant app and I trying to extract keycloak user attribute using AuthenticatedUser decorator. I didn't receive custom attributes that define with one tanant is ablet to user access, I miss some configutarion? I already tryed put on Keycloak mapper, no success.

[2021-05-31 18:38] pedrolucasoliva commented on #59
I actually mapped the wrong client. My bad.

[2021-05-31 18:38] #59 closed

[2021-06-02 09:06] aakay commented on #45
Hi @ferrerojosh , when will the changes in #54 become available? I need to use "any" matching, but `@AllowAnyRole` is deprecated.

Do you have a time estimation? Thanks in advance

[2021-06-04 20:07] #45 closed

[2021-06-04 20:07] #55 closed

[2021-06-04 20:07] #57 closed

[2021-06-04 20:07] #58 closed

[2021-06-05 03:25] EFritzsche90 commented on #40
I have the same problem while running on Kubernetes. I just forked the official Keycloak project and removed the issuer check, just to make it running.

Btw: Is the logging working for you within the catch:

`
    try {      const result = await this.keycloak.grantManager.validateAccessToken(jwt);
      if (typeof result === 'string') {        // Attach user info object        request.user = parse

[2021-06-05 05:51] ferrerojosh commented on #40
I'll make a flag to disable token validation (which is inherently bad, but probably useful for development)

[2021-06-05 12:32] EFritzsche90 commented on #40
+1 for that

[2021-06-08 10:38] Brandejs opened #61 "Is it possible to protect ServeStatic and files?"
Hi,

is there a way to protect static files?

1. Serve static using https://docs.nestjs.com/recipes/serve-static

2. Controller files. Accessible from the browser

[code]

accessible via browser "localhost:3333/files/download/MyFileId" (No authorization header)

[2021-06-08 15:32] ferrerojosh commented on #61
Hello! The library should support retrieving authentication jwt from from cookies. I dunno if that works for you.

[2021-06-09 14:21] ccoeurderoy opened #62 "Offline JWT validation"
Hi,

I'm using this great NestJS module to connect Keycloak to my backend microservice and I've noticed that the `Auth` guard only applies online JWT validation:

https://github.com/ferrerojosh/nest-keycloak-connect/blob/f3ce791e6582549f1546abd13a33067cf4d9e8ef/src/guards/auth.guard.ts#L78

If I'm not wrong, the [keycloak-connect](https://github.com/keycloak/keycloak-nodejs-connect) lib has also a

[2021-06-10 20:09] ferrerojosh commented on #62
Yes I'll add a method of token validation along with #40

[2021-06-28 12:41] jbpin opened #63 "Keycloak.json file config support"
We just update our dependency to the latest version and we can't start our app using the keycloak.json configuration flow anymore. (v1.4 to v1.6)

[code]

There is a way to still use keycloak.json file with this version ?

[2021-07-04 16:45] ferrerojosh commented on #63
This is a bug. Thanks. Will do a quick fix.

[2021-07-05 18:44] #62 closed

[2021-07-05 18:44] #63 closed

[2021-07-05 18:45] #40 closed

[2021-07-08 06:33] codextech opened #64 "Load dynamic configuration is not working"
I am facing this error

   **Nest can't resolve dependencies of the KEYCLOAK_LOGGER (?). Please make sure that the argument KEYCLOAK_CONNECT_OPTIONS at index [0] is available in the KeycloakConnectModule context**

   it seems like **registerAsync** function  is not compatible in this library

**//app.module.ts**
[code]

**//config service**
[code]

Any Help will be appreciated.
Thanks

[2021-07-09 08:13] erald14 opened #65 "Access authenticated user"
How do I access the authenticated user inside controllers?

[2021-07-09 08:18] erald14 commented on #43
@ferrerojosh  good job

[2021-07-09 18:40] ferrerojosh commented on #65
Use the `@AuthenticatedUser` decorator.

https://github.com/ferrerojosh/nest-keycloak-connect/blob/master/src/decorators/authenticated-user.decorator.ts

[2021-07-09 18:40] #65 closed

[2021-07-09 18:44] ferrerojosh commented on #64
Will investigate. Thanks.

[2021-07-12 11:40] jbpin commented on #63
I think I still have `Cannot read property 'tokenValidation' of null` ? is it possible ?

[2021-07-14 07:30] doshimehul opened #66 "Is it possible to change the realm on runtime?"
We are building a multi tenant application where each sub domain would be one realm in keycloak, we are trying to see if there is a way we can set the realm dynamically from the subdomain?

[2021-07-14 10:49] ferrerojosh commented on #66
This could be possible but it requires us to use multiple keycloak instances for this to happen which I don't want to do for now.

[2021-07-14 11:16] doshimehul commented on #66
ok thanks for your reply.

what we are planning is having Single Keycloack instance which will have multiple realms, each realm will correspond to one tenant in our application.

If we are setting Factory service to make the realm dynamic, its not getting invoked on every API request.

Can you guide us to something which will help us to achieve the same?

thanks again!

[2021-07-14 22:22] simonjcarr opened #67 "How to use with Keycloak authorization resources, policies and permissions"
How do I use @Scopes() with the @Resource() decorators to validate that user has the correct permissions and polices assinged.

This might be an issue with my knowledge of Keycloak, or a misunderstanding of how the decorator terminology is used in this library.

I assumed that the combination of @Resource() at the controller level with @Scopes() at the method level, along with the logged-in user,

[2021-07-15 07:42] simonjcarr opened #68 "Remove the requirement for a clientSecret"
In our use case, we set up a keycloak client to represent an application.

The client roles we assign to users in that single client are then used by both the web GUI and the API. We don't have to worry if our GUI and API roles are in sync.

I.e if a user is given the role `create_purchase_order` in a single client
1. They will be able to access the create purchase order screen in the GUI
2. The A

[2021-07-20 03:53] ferrerojosh commented on #67
You need to define your Resources and Scopes in your Keycloak server. This library allows you to validate or in technical terms, request a UMA ticket to your Keycloak server, to cross-check whether the user is allowed so by stating the endpoint's required scope and the defined resource.

For more information, you can simply drop by their official AuthZ docs: https://www.keycloak.org/docs/latest/au

[2021-07-20 04:01] ferrerojosh commented on #68
I might be wrong but this library is an adapter for the official Node.JS Keycloak Library (https://github.com/keycloak/keycloak-nodejs-connect).

Assuming your Web GUI is built on some form of javascript, you should be using KeycloakJS (https://www.keycloak.org/docs/latest/securing_apps/#_javascript_adapter) on it.

It allows you to use authorization code flow which you'll get your JWT token to se

[2021-07-20 04:05] ferrerojosh commented on #66
Well its not really a dynamic solution, but you could use multiple modules (with its own controllers, guards, etc) which corresponds to different realms. The NestJS docs should clearly state how to do that. (https://docs.nestjs.com/modules)

[2021-07-20 04:08] ferrerojosh commented on #68
Also as for your use of single client, it is not recommended to use the same client for both API and WebUI. It is a severe security issue and could cause a lot of problems. It is recommended to make a public client (which can authorize users and get the JWT you want) and a server application client (which can issue UMA tickets to the keycloak instance and validate them with the provided JWT issued

[2021-07-20 19:15] thiagodelgado111 opened #69 "Set keycloak-connect as a peerDependency"
Hi there, @ferrerojosh! First of all, great job! This library is excellent! I wonder if we could set `keycloak-connect` as a peerDependency instead of a direct dependency. We are having some trouble with `keycloak-connect` and we'd like to use our own fork/version. Do you have any thoughts on it?

P.S: Let me know if you need help maintaining `nest-keycloak-connect` :)

[2021-07-22 07:55] ferrerojosh commented on #69
This seems to be a good idea, would need to update the docs for it.

[2021-07-25 18:04] sirkrypt0 opened #71 "TokenValidation example in README does not adhere to comment"
Hey, I just read the README's getting started and thought that the `tokenValidation` in the following snippet (taken from the README) should be `TokenValidation.ONLINE`.

[code]

Just like the `policyEnforcement` mode is set to `permissive` following the comment.

[code]

[2021-07-25 19:38] ferrerojosh commented on #71
Ah this should be a quick change to the read me, thanks.

[2021-07-25 19:38] #71 closed

[2021-07-26 09:51] PedroNunezNexplore opened #72 "Compatibility with Nest 8"
Hi @ferrerojosh, and contributors! Great library!! Congrats

I write you because I'm having troubles to use the library with the new Nest libraries version (8.0.4). This is the error trying to install `nest-keycloak-connect` on a new Nest project:

[code]

Is it my fault, or is there a way to solve it?
If not, is there a plan to update `nest-keycloak-connect` to solve the issue?

Thanks!
Best Rega

[2021-07-26 14:19] thiagodelgado111 commented on #69
PR updated: https://github.com/ferrerojosh/nest-keycloak-connect/pull/73

[2021-07-27 13:26] ferrerojosh commented on #72
This will come as a fix with #69, setting nest as a peerDependency

[2021-07-27 13:29] PedroNunezNexplore commented on #72
Thanks @ferrerojosh !! great news

[2021-07-27 20:24] #69 closed

[2021-07-27 20:24] #64 closed

[2021-07-27 20:24] #72 closed

[2021-07-27 20:54] #67 closed

[2021-07-27 20:54] #66 closed

[2021-07-27 20:54] #61 closed

[2021-07-27 20:55] #68 closed

[2021-07-30 16:34] richardallen opened #74 "1.7.0 release missing built js files"
First, thanks for the work on this project!

I installed release 1.7.0 for Nest 8 support, but the NPM package only has TypeScript files. Looks like the build wasn't packaged, just the source.

[2021-07-31 11:23] EFritzsche90 commented on #69
@thiagodelgado111 : Can you just give an example of how to use your own fork of keycloak-connect instead of the peer dependency?

[2021-07-31 12:38] thiagodelgado111 commented on #69
You can just install it from GitHub. `npm install thiagodelgado111/keycloak-nodejs-connect#branch`

[2021-08-01 13:27] EFritzsche90 commented on #69
But is this recognized due to another name? It is not named "keycloak-connect".

[2021-08-02 08:03] codextech opened #75 "How can i get client information ("id" not clientId) from access_token"
Jwt only gives user information and clientId, how can I get ID of the client as shown in the image

**I CAN GET CLIENT DETAILS FROM THIS URL**
https://${SERVER_URL}/auth/admin/realms/master/clients?clientId=test
but i want to save my api call for getting Id

** I want to get client information "Id"  within jwt**

 Any help/information will be helpful for me.

 ![image](https://user-images.githubus

[2021-08-02 12:57] rordenerena commented on #74
Yes, the same for me.

I've tried to downgrade to 1.6.1 version and the result when I run the `npm run start:dev` is the same, an error like this: `error TS2307: Cannot find module 'nest-keycloak-connect' or its corresponding type declarations`

[2021-08-02 17:38] EFritzsche90 commented on #74
1.7.0-alpha01 is working for me.

https://www.npmjs.com/package/nest-keycloak-connect/v/1.7.0-alpha01

[2021-08-03 09:08] ferrerojosh commented on #74
Sorry this was a problem for the new release scripts, will be releasing the correct one immediately.

[2021-08-03 09:08] #74 closed

[2021-08-03 12:45] ferrerojosh commented on #75
The library does not have control over this behavior as it is only using your client provided access token (which came from the user logging in into keycloak).

If you want something to start off, checkout Keycloak Mappers (https://www.keycloak.org/docs/latest/server_admin/index.html#_protocol-mappers).

[2021-08-03 12:45] #75 closed

[2021-08-08 20:45] EFritzsche90 opened #76 "How to use keycloak-connect as peer dependency?"
Hi @ferrerojosh.

I really love your project and with the latest release there were some really helpful features. Regarding the introduction of keycloak-connect as peer dependency I might have a stupid question.

I forked this library, because I did some adjustments (https://www.npmjs.com/package/@ef-company/keycloak-connect). Now, I would like to use it instead of the original one and without for

[2021-08-09 06:04] codextech opened #77 "How to extend AuthGaurd Class Imported from 'nest-keycloak-connect'"
I want to extend auth guard class for some custom  functionality

I tried and it works well

[code]
But I need to add a constructor so that I can use some services here like **HttpService**
**Can you please help me out how can I?**

`constructor(private http: HttpService) {
	super() // your contructor requires 4 arguments
	}
`

Grateful to you

[2021-08-10 11:58] erald14 opened #78 "breaking changes are introduced in minor version upgrage"
1.7.0 breaks existing apps.
changing to 2.0 is  advised  for breaking changes like this, since package managers automatically upgrade to latest minor version

[2021-08-10 12:01] erald14 opened #79 "1.7.0 breaks existing apps."
1.7.0 breaks existing apps.
change to 2.0 if you want to introduce breaking changes like this.

[2021-08-10 12:01] #79 closed

[2021-08-10 17:31] EFritzsche90 commented on #78
Agree, but this could be told much more nicer than you did. He did a really great work and we should appreciate that instead of blaming him.

[2021-08-10 18:36] diogomoreira commented on #78
I agree. I've been following a tutorial that indicates this library using version `1.2.1`, I tried to install version `1.7.1` and it wasn't possible by the Nest version (which even, I don't know why 8 is necessary, but honestly, I would like to know). I tried version `1.6.1` and it no longer has some of the features indicated in the tutorial (like `@AllowAnyRole()` annotation).

I write this comme

[2021-08-11 08:49] erald14 commented on #78
Sorry If I came through as blaming, I was very tired because I wasted a good amount of hours until I found out the issue was coming from this package, so I didn't pay much attention to the wording. Normally you wouldn't think this would be an issue since breaking changes are introduced in major version upgrades.

[2021-08-11 08:53] erald14 opened #80 "Get Correct errors when validation fails."
Right now I have noticed that when a token is invalid it returns 500 internal error.
Any way to change this?

[2021-08-11 08:55] EFritzsche90 commented on #78
Perfect. So @ferrerojosh let's try to follow the standard versioning, so that no one is wasting time on unexpected changes. :)

[2021-08-11 12:23] ferrerojosh commented on #76
You just need to add keycloak-connect on your project. That is why the docs now state to install both the library and keycloak-connect.
[code]

[2021-08-11 12:30] ferrerojosh commented on #78
My bad. I actually put a note in the release logs that I might remove the necessary need for NestJS 8 if needed be.

I didn't bump the major version since there should be no compatibility issues with the current public api but I guess the mandatory dependency to NestJS 8 broke most builds so that is on me.

Thank you for your inputs, I freely welcome this kind of feedback.

[2021-08-11 12:35] ferrerojosh commented on #80
It should be throwing an UnauthorizedException. I only encounter this when I'm using the library locally (during my own testing). For some reason Nest won't catch the exception properly, I'll investigate this further as to why.

[2021-08-11 12:40] ferrerojosh commented on #77
You need to inject the instances and pass them to the constructor.

[code]

[2021-08-11 12:40] #77 closed

[2021-08-11 12:54] ferrerojosh commented on #76
Oh I think I interpreted the question wrong.
You should be able to use your own forked version by providing the link.

[code]
I don't know if it works, but you can alias an npm package:
[code]

Checkout https://docs.npmjs.com/cli/v7/commands/npm-install for more info.

[2021-08-11 12:54] #76 closed

[2021-08-11 20:49] MarkPieszak commented on #78
Just chiming in as well! Yes I got a similar error (in a NestJS v7 app) stating that yes ConsoleLogger is not a Constructor, and after some digging realized yes it was because it's depending on v8 which isn't installed.

Just for reference, this line specifically in `keycloak-connect.providers`

![image](https://user-images.githubusercontent.com/2574412/129101171-cc4a6fe2-2cad-4ed0-9052-3f2888ec7f

[2021-08-12 00:51] #78 closed

[2021-08-12 07:13] erald14 commented on #80
@ferrerojosh  I really appreciate it, this is important to us.

[2021-08-12 09:30] codextech commented on #77
@ferrerojosh , I did the same thing before. But it is creating this error:

**Class 'KeycloakAuthGuard' incorrectly extends base class 'AuthGuard'.
  Types have separate declarations of a private property 'keycloak'**

[2021-08-12 12:08] ferrerojosh commented on #77
Rename the constructor properties since it will conflict with the superclass.
[code]

[2021-08-14 17:16] papastepano opened #81 "Using Roles() results 403 Forbidden resource"
Using token validation method: ONLINE -
@Roles({ roles: ['basic'] }) returns 403 Forbidden for currently authenticated user with _basic_, although the role is assigned to realm and client.

[code]

[2021-08-15 05:51] ferrerojosh commented on #81
For realm level roles, you need to prefix it with `realm:` so the resulting annotation would become `@Roles({ roles: ['realm:basic'] })`

[2021-08-15 06:05] papastepano commented on #81
Actually this does not resolve the issue in question.
The issue is:
@Role decorator does not work for neither Realm or Client

[2021-08-15 06:17] ferrerojosh commented on #81
I'll take a look into this.

[2021-08-15 06:25] ferrerojosh opened #82 "2.0"
A few ideas that may come up in the next major version:

- [ ] Create permissions
- [ ] Create policies and map them to resources, permissions, etc.

I'll slowly add more that I can think of.

I think the idea is that you can programmatically create (or say generate) them using the library without manually configuring it inside the Keycloak admin portal.

Feel free to give ideas. As I'll slowly ad

[2021-08-15 06:51] ferrerojosh commented on #80
I found the issue, it occurred when I added changes for token validation methods. Will do a patch soon.

[2021-08-15 07:10] ferrerojosh commented on #81
I need more information, in my testing I get forbidden when I set PolicyEnforment into ENFORCING and my route doesn't have a Scope defined. If possible I need the configs and route code used.

This is a major problem and I think I need to merge both guards together in the next major version. Unless Nest has a way to pipeline guards.

[2021-08-15 14:10] papastepano commented on #81
Hi @ferrerojosh, thank you for taking the time to look into this, as it is an important feature for me.
In my setup I have:
[code]
And my nestjs route looks like this:
[code]
I actually dont have scope Injectable. Do you get roles to work in your tests? And if yes under what configs?
Thanks!

[2021-08-15 14:47] ferrerojosh commented on #81
Yes I do have it working in my tests.

I have the configuration:
[code]

  With the following [controller](https://github.com/ferrerojosh/nest-keycloak-connect/blob/master/example/src/product/product/product.controller.ts):
[code]

Injectable should not be required. it is important that it is a controller.

[2021-08-15 15:33] papastepano commented on #81
Interesting. @ferrerojosh Could the problem be in the @Resource()? What should it exactly contain?
Another thing, that I am suspecting is keycloak's client configuration. Do you have some specific setting there?

[2021-08-16 00:49] ferrerojosh commented on #81
Your resource name should be what you configured in Keycloak's AuthZ (admin portal) configuration. `@Roles` should work without `@Resource` (which is combined with `@Scopes`) if you aren't using AuthZ. You can remove `ResourceGuard` in your module if you're mainly using `RoleGuard`.

[2021-08-16 09:26] papastepano commented on #81
@ferrerojosh May I ask what version of Node are you using?

[2021-08-16 11:52] erald14 commented on #78
@ferrerojosh  so now 1.7 is not breaking with nest 7?

[2021-08-16 11:53] erald14 commented on #80
thanks

[2021-08-17 11:47] erald14 commented on #80
@ferrerojosh  any update on this?

[2021-08-17 12:58] #81 closed

[2021-08-18 11:30] ferrerojosh commented on #81
[code]

The realm setup is too long, its inside the example folder of this repository. You should find out more in Keycloak's AuthZ documentation: https://www.keycloak.org/docs/latest/authorization_services/index.html

[2021-08-18 11:41] #80 closed

[2021-08-18 11:51] ferrerojosh commented on #78
Yes it should work now since I reverted the need for NestJS 8 (I re-introduced the wrapper logger)

[2021-08-18 12:12] erald14 commented on #80
Thanks @ferrerojosh

[2021-08-18 12:12] erald14 commented on #80
Please create a donate link or anything, I'd like to contribute

[2021-08-18 12:52] erald14 commented on #78
thanks

[2021-08-18 17:32] EFritzsche90 commented on #82
I was thinking about multi tenancy support. In this case we can also call it multi realm support. My use case it, that I want to support different customers with only one Keycloak by using one realm per customer. My nest service should handle data depending on the realm/tenant. It would mean, that we cannot configure the module like now, but have some way to change it on runtime per request.

What

[2021-08-19 07:04] ferrerojosh commented on #82
This seems to be a great idea, I didn't think about creating the client on start-up, as dangerous as it sounds, it requires a realm
master account which is useful for use-cases like this.

For multi-realm support, at its core, this library is an adapter to `keycloak-connect`. This can be currently done by having different Keycloak module per Nest module (by not having it global since it isn't requ

[2021-08-19 16:32] EFritzsche90 commented on #82
Yep, this master account will be needed, but it will give you some flexibility, especially when working with Microservices and flexible architectures, i.E. when you want to add a new service to a customer environment you do not need to manually add its configuration to Keycloak, but the service is responsible on his own. It will be easier to deploy those services automatically.

Mutli-realm suppor

[2021-08-20 00:47] ferrerojosh commented on #82
Well all I can think of is an API gateway with different instances behind each endpoint but that is just one of the solutions. I'm still thinking of a clean way for changing realms on runtime. If it's changing realms every endpoint call, I'd need to investigate how much chaos will it create and if possible use a pseudo thread local behavior using [continuation local storage](https://www.npmjs.com/

[2021-08-20 06:01] EFritzsche90 commented on #82
I found following issue for Keycloak NodeJS: https://issues.redhat.com/browse/KEYCLOAK-4162
Might be helpful.

[2021-08-29 18:56] jalorenz commented on #82
@ferrerojosh Hey, is there any chance of creating specialized issues for each bullet point? I think it would be better to not discuss all bullet points in one conversation.

[2021-08-29 23:05] ferrerojosh commented on #82
I'll do that once I start development so I can track them correctly in commits, for now I put this up to summarize what 2.0 should be, feel free to open a new issue if its going to be a lengthy discussion.

[2021-08-31 13:02] ashleyww93 opened #84 "TypeError when extending AuthGuard"
**_Reusing a previous non-issue I created today by mistake._**

I am trying to extend AuthGuard so that I can get access to more information about my Authenticated User in my GraphQL queries.

Basically, I want to be able to return objects that are owned by my tenant (each user is a tenant in my system).

I have tried the following code:

[code]

Which I try to use by placing the following code al

[2021-08-31 13:16] ashleyww93 commented on #84
I hadn't imported the Module. My Mistake :)

[2021-09-02 03:11] ferrerojosh commented on #84
I am confused by this, if you're extending AuthGuard, you should be using your extended AuthGuard on your AppModule, since all it does is extract the request, attach the user and token into it, and throw unauthorized if necessary.

I will try to try creating an extended AuthGuard on my own, and see if it works fine on my end when I have free time.

[2021-09-03 13:02] rordenerena opened #85 "How to do "confidential" client works authenticating over the keycloak login page?"
I have read the book from keycloak creators and I have some examples working right with my realm and app client over nodejs.

But I want to use nestjs instead of nodejs, then I'm using your npm module, but, i cannot going work an example with a confidential app client (nodejs official example: https://github.com/PacktPublishing/Keycloak-Identity-and-Access-Management-for-Modern-Applications/tree/m

[2021-09-05 00:07] ferrerojosh commented on #85
This adapter was designed with NestJS in mind, by default Nest doesn't serve static pages but mainly do Restful APIs.

The idea is that you have a frontend that contacts your keycloak instance for an access token, and a backend (which in this case Nest) that contacts your keycloak instance if it is authorized to proceed with the request (AuthZ). This is all possible due to the OAuth 2.0 specificat

[2021-09-05 18:23] rordenerena commented on #85
Ok, I got it, thank your for your explanation.

Both, backend and frontend applications are owned by me, then I think that I prefer to get a cookie session with the frontend and, by other hand, the backend will be the only one to contact with keycloak instance in order to set the maximum security context, as well as how says the keycloak book as the best security implementation.

Or maybe I think

[2021-09-05 18:23] #85 closed

[2021-09-10 13:58] Nosfistis opened #86 "Websocket support"
Is it possible to support websockets?

Using the default socket implementation that is suggested by NestJS, this is as easy as adding another case in the `extractRequest` helper. The related information is in the `handshake`, since socket.io 4 provides such info in the `handshake.auth`.

Other than that, perhaps the helper itself could be moved to a service, so that it can be overriden and provide

[2021-09-12 10:49] itzikntn opened #87 "support ssl-required in keycloak configuration"

[2021-09-12 16:03] ferrerojosh commented on #87
I see they updated their types with ssl-required, although it wasn't used explicitly in the config files.

[2021-09-12 16:05] ferrerojosh commented on #86
I'll try to find a way to do this, thanks for the suggestion.

[2021-09-15 09:41] TrumanRu opened #88 "Non-interactive server-side login to Keycloak"
keycloak-connect `GrantManager` interface has `obtainDirectly(username: string, password: string): Promise<Grant>` method.

How can I call it from nest-keycloak-connect?

I need to reroute POST request from NestJS controller to Keycloak realm then send obtained JWT to frontend. Looks like an authentication proxy.

PS: I understand the main goal of this module is only verify JWT obtained by fronten

[2021-09-15 15:33] ferrerojosh commented on #88
Inject the keycloak instance. It is exported.

[code]

[2021-09-23 09:56] atoi opened #89 "Yarn PnP compatibility"
I have a monorepo set up using yarn workspaces. Nest app refuses to start producing the following error:

`Error: nest-keycloak-connect tried to access @nestjs/core, but it isn't declared in its dependencies; this makes the require call ambiguous and unsound.`

I suppose it is this case exactly:
https://classic.yarnpkg.com/en/docs/pnp/troubleshooting/#toc-is-trying-to-require-without-it-being-list

[2021-09-23 15:11] diogomoreira opened #90 "Using a string to reference a keycloak json config doesn't work for relative paths"
## Current behavior

I tried to configure the KeycloakModule using `KeycloakConnectModule.register('assets/keycloak.json')` in a file that is inside `apps/main-ms/src/modules/security/`, but it's not working, as the file is expected to be in the root of the project. The error stack is:

[code]
Since I'm working on a monorepo (using NX) and I have two modules that uses `nest-keycloak-connect`, I ne

[2021-09-23 20:54] ferrerojosh commented on #89
Ah I think this is because I only listed `@nestjs/common` on `peerDependencies` since it will transitively bring up `@nestjs/core` as well. This will be a quick fix, I just need to add `@nestjs/core` on peer as well.

[2021-09-23 21:02] ferrerojosh commented on #90
I'll add a check for both relative and cwd path. With relative path on the higher priority. This way it won't break for existing users who puts keycloak.json on their root.

[2021-09-23 22:59] #87 closed

[2021-09-23 22:59] #89 closed

[2021-09-23 22:59] #90 closed

[2021-09-24 08:56] itzikntn commented on #87
Great ! , Thank you very much
Have a good weekend !

בתאריך יום ו׳, 24 בספט׳ 2021, 1:59, מאת John Joshua Ferrer ‏<
***@***.***>:

[2021-10-04 06:19] lovetodream opened #91 "Support for @nestjs/graphl 9"
nest-keycloak-connect requires an optional peer dependency of @nestjs/graphql 6, 7 or 8. Is it possible to add version 9 or does it require any major changes?

[2021-10-04 23:28] ferrerojosh commented on #91
It should technically still work, I don't see any major breaking changes that will affect the library itself. Will add version 9 on the next release.

Also according to nestjs docs, it should work correctly:

[2021-10-24 22:32] Daniel-Monroy opened #92 "Module '"nest-keycloak-connect"' has no exported member 'AllowAnyRole'"
Hello guys, I run into this problem.

![Captura de Pantalla 2021-10-24 a la(s) 17 25 51](https://user-images.githubusercontent.com/45611570/138615557-ed83850d-ebcf-448f-989c-d72963f83243.png)

someone could help me?

Thanks !!

[2021-10-26 05:49] #92 closed, assigned to nobody

[2021-10-27 09:14] dennismeister93 opened #93 "Support for multi tenancy"
Hey :)
is it planned or already possible to support multi tenancy with this nest module?
In other projects (without nestjs) I'm using https://www.npmjs.com/package/keycloak-connect-multirealm to support more than only one issuer to check for.

Looking forward to hear from you! :)

[2021-10-30 04:43] ferrerojosh commented on #93
Sure. I think this can be made possible.

[2021-10-30 04:46] #88 closed

[2021-10-30 06:08] ferrerojosh commented on #93
Hello! I made a pre-release for this. `1.8.0-alpha.1` is the version or you can just `npm install nest-keycloak-connect@next`.

To use multi tenant, just simply pass a `null` realm or leave it `undefined`.

Other options would be defining the `realmResolver` function that is added to the configuration options.

Example:
[code]

Notable Changes:
- The `request` object should be the request for your

[2021-11-09 17:25] gogo199432 opened #94 "Logging changes in Nest 8"
My logs are getting swallowed again on Nest 8. It seems like they changed the logging slightly, please take a look at their guide under Logger breaking changes:

https://docs.nestjs.com/migration-guide

[2021-11-09 17:29] gogo199432 commented on #94
My bad, one of my routes was grabbing the execution so my log statements were never hit...still might be worth to take a look?

[2021-11-09 17:29] #94 closed

[2021-11-09 18:14] ferrerojosh commented on #94
If you're passing useNestLogger = true, it shouldn't be a problem.

[2021-11-15 14:15] gogo199432 opened #95 "LogLevels not working properly with NestLogger"
This time I think it is an actual bug. If I enable the 'useNestLogger' then it doesn't matter what I set the logLevel to it always uses verbose. If I disable useNestLogger however the logLevels are used properly. Here is my config if needed:

[code]

[2021-11-19 21:11] ferrerojosh commented on #95
If you're using the NestJS logger, you should configure the log levels in NestJS itself, as seen [here](https://docs.nestjs.com/techniques/logger):
[code]

[2021-11-19 21:11] #95 closed

[2021-12-05 06:31] itzikntn opened #96 "Expose keycloak service in your keyclock module"
Hi ,

keycloak service has many methodes that we as users want to use , for example getUserInfo()...
currently when i import your module i cannot acssess the keycloak service (contrary from usage in nodejs key cloak connect )

please expose it :)

[2021-12-07 06:51] ferrerojosh commented on #96
Duplicate of #32

[2021-12-07 06:51] #96 closed

[2021-12-08 11:56] tiagosiebler commented on #86
Also interested in this - thanks. The auth guard currently throws in trying to access `request` after the call to `extractRequest` in the auth guard, if trying to use jwts with graphql subscriptions.

[2021-12-08 17:25] tiagosiebler commented on #86
In case it helps anyone else, an adaptation of this worked for me:
https://github.com/nestjs/docs.nestjs.com/issues/394#issuecomment-582161405

[2021-12-10 14:46] sreenath-n opened #97 "Incorrect Keycloak Realm in example/nest-example.json"
Getting error when importing `example/nest-example.json`

[code]
I am using Keycloak docker to load the json
[code]

Are these below URLs correct?

![image](https://user-images.githubusercontent.com/69649218/145591861-2f80980b-56c5-420a-9340-7bb565e59fe7.png)

[2021-12-11 03:00] ferrerojosh commented on #97
Well that is strange, I guess they use the display name during export

[2021-12-11 03:04] #84 closed

[2021-12-12 04:27] sreenath-n commented on #97
@ferrerojosh This is not resolved. Another error is coming when I ran it using the new json from d215763
[code]

Looks like the users "user" and "admin", that are mentioned under policy, are not there in the json

[2021-12-13 07:42] ferrerojosh commented on #97
It looked like you need to create these users, but again since this is an import, there should be a way to include the users in the json file, and here I thought Keycloak realm exports included them. I do not know much how these exports work since I'm no Keycloak expert. I will have to consult the documentation again.

[2021-12-13 07:46] ferrerojosh commented on #97
Okay looks like there is another way of exporting using the keycloak command line.

[2021-12-13 07:48] #97 closed

[2021-12-13 09:03] sreenath-n commented on #97
Now import is working perfectly. Thanks @ferrerojosh

**Note:** `upload_scripts` must be enabled in Keycloak, for example, using this parameter `keycloak.profile.feature.upload_scripts=enabled`
Otherwise Keycloak will throw error when importing.

[2021-12-13 15:30] pedroCore commented on #93
Hi! First of all, this feature will bulk this library a lot. There is not that many libraries that have the muti-realm support for Keycloak.

I know that this is an alpha version, but it seems there is a problem using registerAsync with the version 1.8.0-alpha.1, it fails with unresolved dependencies, in this case the KeycloakMultiTenantService:

[code]

I'am using a different module instead of th

[2021-12-13 19:33] emaung commented on #93
Heya @ferrerojosh thanks for your hard work on this library. This functionality is quite essential for us as we use multiple realms to segregate customers. Just wondering what is the status of the alpha version? Do you know when would that be promoted to release? Is there any work pending or need help with?

[2021-12-13 20:18] emaung commented on #93
heya, @pedroCore I think I found an issue, It is missing `KeycloakMultiTenantService` in the async provider registration.

[2021-12-14 03:08] ferrerojosh commented on #93
Hello guys, sorry for the delay, I added a new alpha release with the fixes @emaung came up with. Thank you @pedroCore for telling that async registration was not working. Also found out myself that realm parsing using issuer from jwt token was not working at all.

If everything works well I'll release it soon as 1.8.0.

[2021-12-14 18:48] emaung commented on #93
Heya @ferrerojosh thank you for looking into this. We had actually use the realm resolver and read the issuer from the token manually. So not aware of the realm parsing issue. Additionally we only wanted to allow some realms to have access, so we have added some realm whitelisting in the realmResolver logic.

[2021-12-15 10:55] NicolasTsc opened #99 "Getting error 'Cannot validate access token: Error: 403:Forbidden'"
Hallo,
I am currently trying to protect my APIs with my Keycloak instance but I always end up getting this error when calling one of my APIs and a valid token.
My config in the app module looks like this:

[code]
and my keycloak.json looks like that:

[code]
Note that I don`t have a secret set because my Keycloak config looks like that and a public access type does not have the secret.
![image](ht

[2021-12-15 12:01] #99 closed

[2021-12-15 12:02] NicolasTsc commented on #99
To anyone coming up with this in the feature.
I just created a second client which has type "Bearer-only" and used a secret

[2021-12-20 10:00] n1md7 opened #100 "Question: Mocking support for tests"
Is there a way or suggestion on how to mock the Keacloack service using this module?

Is it possible to use https://github.com/SectorLabs/keycloak-mock ?

[2021-12-24 03:38] railsstudent opened #103 "Unable to run the example app"
When I ran the example app, it could not start and reflector could not inject.

[Nest] 32058  - 24/12/2021, 11:36:55 am   ERROR [ExceptionHandler] Nest can't resolve dependencies of the AuthGuard (KEYCLOAK_INSTANCE, KEYCLOAK_CONNECT_OPTIONS, KEYCLOAK_LOGGER, ?). Please make sure that the argument Reflector at index [3] is available in the AppModule context.

Potential solutions:
- If Reflector is

[2021-12-24 03:45] railsstudent opened #104 "Unable to inject KEYCLOAK_INSTANCE in UseGuards(AuthGuard)"
My use case is I cannot register AuthGuard globally. Therefore, I commented out

[code]

in app module and modified ProductController to apply UseGuards decorator
`  @Get()
  @Public(false)
  @Scopes('View')
  @UseGuards(AuthGuard)
  async findAll() {
    return await this.service.findAll();
  }`

When I ran the example app, error were printed in console

Nest can't resolve dependencies of the Aut

[2021-12-30 03:17] deeeed commented on #103
+1

[2021-12-30 03:28] deeeed commented on #104
I get the same error trying to debug the package. Any branch where a fix is available?

[2021-12-30 15:58] railsstudent commented on #104
@deeeed  I don't fix there is a fix because no one reported this error in github issues.

[2022-01-01 10:56] smolinari opened #105 "Question: Use Case with Keycloak"
Hi,

Sorry, but I didn't know where else to ask this and hope you/ someone can offer some guidance.

I have a fair understanding of what Keycloak can offer and I'd like to explain my use case and basically ask if Keycloak is overkill or a good choice for user authentication/ authorization management.

What I'm looking for first and foremost is a user authentication system (OAuth), where tenants wo

[2022-01-02 15:37] ferrerojosh commented on #103
This is a problem with Nest 8. A temporary solution would be to install `nest-keycloak-connect` on the example app and remove the local typescript link in tsconfig.json I'll make a change that does this.

[2022-01-02 16:17] ferrerojosh commented on #104
Duplicate of #104

[2022-01-02 16:24] #103 closed

[2022-01-02 16:54] ferrerojosh commented on #100
You could create a service which injects the keycloak instance. And insert the mock there.

[2022-01-02 16:55] ferrerojosh commented on #93
Released a new alpha release with a resolver for realm secrets (#102)

[2022-01-03 03:29] railsstudent commented on #103
Thank you for the prompt response.

[2022-01-03 11:17] railsstudent commented on #104
@ferrerojosh  I can still reproduce the issue in product controller.  Should I report it to Nest team? Thanks.

[2022-01-04 12:16] ferrerojosh commented on #104
Can I see how you imported the module ?

[2022-01-04 12:25] ferrerojosh commented on #104
The example app ran fine to me, have you tried clearing your `node_modules` ? It is already strange enough that only `KEYCLOAK_INSTANCE` is missing.

[2022-01-04 12:28] ferrerojosh commented on #104
If what you are doing is not registering auth guard globally, you can do so by importing the `KeycloakConnectModule` in some common module of sorts. You can name it `AuthModule` or your `CoreModule` and import that to any modules that requires `AuthGuard`

[2022-01-04 12:33] ferrerojosh commented on #105
Keycloak should be able to do what you want. I'm no Keycloak expert myself but I think their policy enforcer if setup correctly, is able to correctly do ABAC. You can even develop your own server plugins if really needed.

This library merely calls Keycloak's policy enforcer and asks the Keycloak instance if the request can go through. You can customize the policies in many ways you want as stated

[2022-01-04 15:13] smolinari commented on #105
Thanks. I figured it might be a bit of an overkill. I don't want full user management, as each tenant instance will have its own ABAC system. I only need to have special roles, so like license types. Those license types (1 and 2 mentioned above) would have access to specialized apps. And, I'm looking for a centralized user management for the user's sake. I'm also looking at FusionAuth to fill this

[2022-01-04 16:03] railsstudent commented on #104
Let me try it when I get back to work tomorrow. Thanks.

[2022-01-05 04:41] railsstudent commented on #104
I created CoreModule,

[code]
Import CoreModule in AppModule and ProductModule

[code]

[code]

Add AuthGuard in ProductController

[code]

The app still produces the same error.

[2022-01-05 11:44] #105 closed

[2022-01-05 11:53] ferrerojosh commented on #104
You should register `KeycloakConnectModule` inside your `CoreModule`:

[code]

Your `AppModule` won't need `KeycloakConnectModule` anymore as well (unless you're using guards in your `AppController`, in that case import `CoreModule` here as well):
[code]

Since you aren't using Keycloak globally, there is no need to to use `APP_GUARD` and just use `@UseGuards(AuthGuard)` normally.

[2022-01-06 03:25] railsstudent commented on #104
Let me try again and get back to you, thanks for the prompt response.

[2022-01-06 04:06] railsstudent commented on #104
Works for me now. Thanks.
I need to export KeycloakConnectModule in CoreModule or the application cannot start.

[code]

[code]

[code]

[2022-01-06 06:31] ferrerojosh commented on #104
`KeycloakConnectModule` would be a single instance since it is only registered inside `CoreModule` and exported.

I will be closing this as you already find the issue resolved.

[2022-01-06 06:31] #104 closed

[2022-01-06 16:45] #91 closed

[2022-01-06 16:45] #93 closed

[2022-01-12 01:03] deeeed opened #106 "create scoped keycloak resource from nest api"
I am looking at the examples provided from keycloak and they are dynamically mapping each entity to a resource in keycloak

[code]
Is there a way we could do that directly from Nest? I haven't been able to find a good way...

[2022-01-12 01:08] deeeed commented on #106
My bad, I will use the @keycloak/keycloak-admin-client

[2022-01-12 01:08] #106 closed

[2022-01-12 05:57] deeeed opened #107 "retrieve user context from service layer"
How can I directly retrieve user information in my service layer?
[code]

If I am on the Controller Layer I would use:
[code]
But then I need to pass it down to all my services...

Is there a better way to do it?

[2022-01-12 15:05] sgentile commented on #107
I was wondering the same - ie. can the keycloak token be accessible in the context object

[2022-01-12 15:55] ferrerojosh commented on #107
Its due to how node is built that we can't do any thread-local stuff like this. I know that `cls-hooked` exists, but if I were to do this, I want it in a way that won't let me hack into nest itself.

[2022-01-12 15:59] ferrerojosh commented on #107
Also a `REQUEST` injection token exists in nest, if that can help you in any way: https://docs.nestjs.com/fundamentals/injection-scopes#request-provider

[2022-01-12 21:20] Koala-gentil opened #108 "How can I use app.useGlobalGuards with RoleGuard ?"
I tried to do this but this doesn't works.

[code]

[2022-01-12 21:24] sgentile commented on #107
I did see the @AuthenticatedUser() attribute, this is exactly what I needed

On Wed, Jan 12, 2022 at 10:55 AM John Joshua Ferrer <
***@***.***> wrote:

[2022-01-14 05:51] ferrerojosh commented on #108
`RoleGuard` needs its dependencies, and it won't work when `AuthGuard` isn't present. See https://docs.nestjs.com/guards#binding-guards

[2022-01-14 05:55] ferrerojosh commented on #107
You can't. Java is built different as it has thread-local support and is multi-threaded compared to Node.

As for this issue, as I mentioned earlier can be done like this:
[code]

[2022-01-14 05:55] #107 closed

[2022-01-14 06:53] deeeed commented on #107
Thanks for the code sample.
I tried but typescript seems unhappy:
Property 'user' does not exist on type 'Request<ParamsDictionary, any, any, ParsedQs, Record<string, any>>'.

[2022-01-14 07:00] deeeed commented on #107
Thanks for the code sample.
Unfortunately, user property doesn't seem to be available on the request.
Do I need to import/inject something in the module file as well to decorate the request with user info?

[2022-01-14 23:39] deeeed commented on #107
If the user isn't available, does it mean it needs to be extracted from the token first?

[2022-01-15 00:22] deeeed commented on #107
A couple of things I noticed when playing around.

**auth.guard.ts**:
- incompatible types on extractJWTFromCookie ( headers is [key:string]: string but nest uses [key:string]: string | string[]  which creates warning. Maybe the ts rules are not strict enough on the project?
- I can have user in my service layer if I duplicate the token extraction code but why the request isn't populated from the

[2022-01-15 12:04] ferrerojosh commented on #107
User property won't be available if you don't have `AuthGuard` in your module or controller.

[2022-01-15 12:08] ferrerojosh commented on #107
As for populating down the user instance between layers, I get what you mean, like I said, nodejs just doesn't have native thread-local like state that is used in common frameworks like spring to store session/auth context. This is a nodejs problem, can be done  using `cls-hooked` but I'll avoid doing that when necessary.

Until Nest itself makes it easier to create a session context, the only way

[2022-01-15 12:53] sgentile commented on #107
All that was required:

[code]

[2022-01-15 13:00] sgentile commented on #107
correct, we just pass it :

[code]

[2022-01-15 13:13] deeeed commented on #107
Thanks for the additional code and sorry if I wasn't clear.

I do have access to the user instance inside the Controller layer because AuthGuard is in my module. I was just trying to avoid passing down the user from Controller Layer to Service Layer.
Having access to the request makes it possible to parse the token in the Service Layer (as per provided code) but it is inefficient since it was alre

[2022-01-17 01:04] ferrerojosh commented on #107
Here's an interesting gist if you like: https://gist.github.com/bengry/924a9b93c25d8a98bffdfc0a847f0dbe

[2022-02-02 07:22] KlausNie opened #109 "Multi tenancy with bearer-only"
I'd like to set up multi tenancy with bearer-only clients.

The idea is:
* in the web frontend, the user retrieves his token via login (public client)
* in the backend, that user is verified via the bearer-only client
* the realm can on the backend be extracted from the request (that is already possible, as seen in the documentation, last part)

The documentation only explains how to do it with a

[2022-02-03 05:18] ferrerojosh commented on #109
Did you try enabling `bearerOnly` mode while having multi-tenancy setup ?

[2022-02-03 07:01] KlausNie commented on #109
Yes! The problem is: how do I pass along the `bearer` token?

When I use the `bearer-only` client setup, I will have no `client-secret` that I could use, but instead I'd have to use the bearer token from the original request and give it to the lib so that it can make the authentication/authorization request instead.

I cannot use the `realmSecretResolver`, since that would require the input of it

[2022-02-05 13:09] ferrerojosh commented on #109
I am honestly confused. The library already grabs the bearer token in the request headers by default and uses those tokens to pass them through the policy enforcer (if needed be). Setting the `client-id` and `secret` only allows you to authenticate/authorize users via Keycloak. You can always have `realmSecretResolver` return null to tell the keycloak library that you don't have one.

My understan

[2022-02-05 23:06] sirkrypt0 opened #110 "Deprecation of Keycloak OpenID Connect Node.js Adapter"
First, thanks for your work on this library!

According to the official [Deprecation of Keycloak adapters](https://www.keycloak.org/2022/02/adapter-deprecation.html) post (and the corresponding [GitHub discussion](https://github.com/keycloak/keycloak/discussions/9818)), the [keycloak-nodejs-connect](https://github.com/keycloak/keycloak-nodejs-connect) adapter (which this library relies on) is now

[2022-02-06 16:38] ferrerojosh commented on #110
I think the proper move would be to implement calling Keycloak's authorization API ourselves instead of relying on their official Node.js adapter. I assume authorization services won't be going away soon. The implementation is all there and all we need to do is move over the implementation into typescript and use an http client (i.e axios or node net)

[2022-02-07 12:22] KlausNie commented on #109
So it automatically grabs the token from the request by default? Hmm, that is what I actually require... so it should work already.

For some reason it does not work for me. I always get
[code]
in keycloak and
[code]
in the NestJS application.

I've got a frontend application where the login is done. For that, I have a client set up (`web`) which retrieves the initial token.
Then I've got the Nest

[2022-02-10 07:32] ferrerojosh commented on #109
Yeah I get what you mean, I am still trying to find out how to do this without breaking things. It isn't documented that well in Keycloak's documentation either, it just says just to pass `bearer-only` and it will do the magic.

[2022-02-10 08:00] KlausNie commented on #109
I'm not 100% sure it is even possible. It could be that keycloak just requires the `client secret` **in addition** to the `bearer-token` as a means of increased security.

That would be good in a sense that it increases the security of the whole process, but would be more cumbersome to set up the `bearer-token` connection, since you'll always need the client secret of that client.

Changing the cl

[2022-02-10 15:11] chrath opened #111 "More detailed error message"
We are having some problems setting up the adapter in our nest js service. When we try to access a protected resource we receive the following error message: WARN [Keycloak] Cannot validate access token: Error: Grant validation failed. Reason: invalid token (wrong ISS).

As the error suggests, we have investigated a possible mismatch between frontend and backend issuer. However, we have noticed th

[2022-02-10 16:39] chrath commented on #111
Ok, after more debugging we found that the error is thrown when the following condition isnt met:
`if (token.content.iss !== this.realmUrl) { reject(new Error('invalid token (wrong ISS)' ));  }.

So as already expected our realmUrl seems to be wrong. The problem seems to be that the NestJS and Keycloak Instances are running in a private network (authServerUrl="SOME_LOCAL_IP), but the token is issu

[2022-02-10 23:21] legitimoth opened #112 "Secret for Public Clients"
I would like to know how we do to set secret when our client is Public. I don't have a secret and it's required on KeycloakConnectOptions .

I've tried let it empty '' and set public-client as true and public as true but, nothing work.

[2022-02-11 10:16] ferrerojosh commented on #111
If I remember correctly issuer check is strict and something I have no control of, you could always point the domain to an ip address in your private network in server's `hosts` file.

[2022-02-11 10:20] ferrerojosh commented on #112
I assumed nestjs as a backend application only when creating this library. Is this a use-case for a static serving application ? It's the only use-case I can think of when setting client to public since it would serve html pages in which you can do a login.

[2022-02-11 10:33] ferrerojosh commented on #109
Multi-tenancy service should only re-create the instance while changing only the `realm` and `secret`. So if `bearer-only` is set, every instance created should also be bearer only as seen here: https://github.com/ferrerojosh/nest-keycloak-connect/blob/81132009a70cf3b77a5d05d3dee267730846deb2/src/services/keycloak-multitenant.service.ts#L50-L54

The configuration options are injected and thus shou

[2022-02-11 10:57] chrath commented on #111
Thank you very much. We have a look to configure it via the host file.

[2022-02-11 10:57] #111 closed, assigned to nobody

[2022-02-14 02:53] deeeed opened #113 "logs not available with custom logger"
I am tryng to figure out why after replacing the default nest logger with pino logger, my nest-keycloak-connect logs aren't displayed to the console.
Here is how I instanciate my module:
[code]
Before the custom pino logger takes over I can see the logs in the console during startup:
[code]
If I leave useNestLogger: true, I won't be able to see the logs from nest-keycloak-connnect.
Looking at the

[2022-02-22 07:03] Toilal opened #114 "realmSecretResolver is not a function"
realmSecretResolver is defined as optional

https://github.com/ferrerojosh/nest-keycloak-connect/blob/81132009a70cf3b77a5d05d3dee267730846deb2/src/interface/keycloak-connect-options.interface.ts#L13

but it seems to be required by the implementation here https://github.com/ferrerojosh/nest-keycloak-connect/blob/81132009a70cf3b77a5d05d3dee267730846deb2/src/services/keycloak-multitenant.service.ts#L

[2022-02-25 03:16] #114 closed

[2022-02-25 14:23] vince-lynch opened #116 "Renew token?"
Hi,

Is there a way to renew the token using the refresh_token? rather than just createGrant with the JWT?

Many thanks
Vince

[2022-02-25 19:58] ferrerojosh commented on #116
Hello, token refresh should be handled by the client, not the application/resource server. (assuming a standard public facing client, and a resource server with client id and secret)

[2022-02-27 19:13] vince-lynch commented on #116
sorry to ask for your help like this, but I noticed you had the `ensureFreshness` fn.

Currently getting a `REFRESH_TOKEN_ERROR`,
with the error claiming `invalid_token`

After running the `grant` through the `ensureFreshness` but
[code]

this is when the access_token has expired and the refresh_token has several minutes left, in an OIDC SSO setup.

my main question is, when you wrote the `ensureF

[2022-03-01 00:49] sgentile opened #117 "Registration Error"
I'm attempting to add a setup as shown in the app.module
[code]

However I get this error:

Error: Nest can't resolve dependencies of the KEYCLOAK_CONNECT_OPTIONS (?). Please make sure that the argument KeycloakConfigService at index [0] is available in the KeycloakConnectModule context.

Potential solutions:
- If KeycloakConfigService is a provider, is it part of the current KeycloakConnectModule

[2022-03-01 01:01] sgentile commented on #104
I still get an error moving this to a separate module:

[code]

[2022-03-01 02:01] #117 closed

[2022-03-01 02:05] sgentile opened #118 "BearerOnly TokenValidation.ONLINE"
I am passing a token that I generate from a service account - however when I pass the token with the setting TokenValidation.ONLINE it fails

WARN [Keycloak] Cannot validate access token: Error: 401:Unauthorized

I have the correct token created -  how in the API does it validate the token ?  Currently I'm forced to use OFFLINE

[2022-03-01 06:42] ferrerojosh commented on #118
It actually sends a request to your auth server:

https://github.com/ferrerojosh/nest-keycloak-connect/blob/51e78e64d14040b803b8123bd03c397fc044dba1/src/guards/auth.guard.ts#L105-L147

From `keycloak-nodejs-connect` itself:

https://github.com/keycloak/keycloak-nodejs-connect/blob/773e95a2fd8b4046cb22f6e3d55853169a81e9a8/middleware/auth-utils/grant-manager.js#L259-L281

I do not know how the token

[2022-03-01 16:07] Syntarex opened #119 "Different endpoints for different scopes"
What I want to achieve is a controller with 2 endpoints.
The controller is annotated with `@Resource`.
The endpoints are annotated with `@Scope`.
Both endpoints got the same url.
If access to the first endpoint is granted, the endpoint returns data.
If the access to the first endpoint is denied, the second endpoint checks for access.

Example:
[code]

The background is that a user should only be a

[2022-03-01 16:11] Syntarex commented on #119
It would be even cooler if I could check for scopes by myself. Like inside off an endpoint.

[2022-03-08 08:35] zoltan-mihalyi opened #120 "support @nestjs/graphql ^10.0.0"
`@nestjs/graphql` peerDependency is set to `^6.0.0 || ^7.0.0 || ^8.0.0 || ^9.0.0`. Maybe updating this dependency will work out of the box

[2022-03-08 12:34] ferrerojosh commented on #120
It should still work, since it highly depends on `@nestjs/graphql` without actually calling any apollo libraries. I'll update this in the next patch to just target `@nestjs/graphql@>=6`.

[2022-03-10 19:47] ferrerojosh commented on #119
Scopes are defined at the endpoints sadly. This can be implemented but I am not sure when.

I plan along something like:

`@ConditionalScope((user, roles) => roles.contains("admin") ? ["read.all"] : ["read"])`

[2022-03-10 19:54] #108 closed

[2022-03-10 19:54] #116 closed

[2022-03-11 07:56] Toilal commented on #110
Maybe this code should go in another standalone repo without nest dependencies ? This could also implement a [passport](https://www.passportjs.org/) strategy, as passport is the recommanded way to bring authentication in NestJS (according to official docs).

[2022-03-17 10:38] isfand-apexe opened #122 "Nest can't resolve dependencies of the KEYCLOAK_CONNECT_OPTIONS (?). Please make sure that the argument KeycloakConfigService at index [0] is available in the KeycloakConnectModule context"
Node: 16.14.0
npm: 6.14.6

These are the errors I am getting while bootstrapping the app

<img width="1451" alt="Screenshot 2022-03-17 at 1 49 47 PM" src="https://user-images.githubusercontent.com/100771528/158791559-9842b7cf-6e85-4c99-91f4-1a54debf3759.png">
<img width="1006" alt="Screenshot 2022-03-17 at 1 50 31 PM" src="https://user-images.githubusercontent.com/100771528/158791583-aec20fb7-a6a2

[2022-03-22 13:54] KlausNie commented on #109
After working with it for a while, it seems like the right way to go is to have a client-secret for each realm (since keycloak requires that) and the backend service needs to keep that.
That makes it more secure: you need client secret and bearer token of that specific user to get access to the API.

I'm guessing it is that way so that keycloak endpoint cannot be queried/brute-forced by the public

[2022-03-22 13:54] #109 closed

[2022-03-22 16:15] KlausNie commented on #122
I believe your `KeycloakConfigService` needs to be added to the providers. Might also be necessary to export it

[2022-03-22 16:16] KlausNie opened #123 "ResourceGuard not checking URI"
I've set up a server, with a controller like this
[code]

My keycloak connection options look like this:
[code]

In keycloak I have Authorization enabled, and I've created the following resource, scope, policy and permission:
<img width="740" alt="image" src="https://user-images.githubusercontent.com/20414081/159523652-03b3b028-3a60-47fc-9aa6-2ed4c71a5a70.png">
<img width="313" alt="image" src="ht

[2022-03-23 04:29] ferrerojosh commented on #123
The URI in a keycloak resource wouldn't do anything without a permission and policy. Everything revolves around it, most of the time it is metadata.

[2022-03-23 04:37] #120 closed

[2022-03-23 06:34] KlausNie commented on #123
So basically, specific endpoints, like `/api/v1/servers/1` where `1` is a parameter cannot be guarded with keycloak
And the URIs do not matter at all... all that matters is the resource name and how you use it in your resource server(to which URL you apply it), not the actual URL you are mentioning in the resource declaration...

Is that what you mean?

[2022-03-23 07:52] ferrerojosh commented on #123
If I understood how Keycloak works then yes, you can cross check by their documentation here: https://www.keycloak.org/docs/latest/authorization_services/

Based on that document, everything revolves around permissions and policies, I don't know how uris are used but I'm guessing its for user-resource ownership metadata.

[2022-03-23 10:39] KlausNie commented on #123
The only thing they mention is:
<img width="1021" alt="image" src="https://user-images.githubusercontent.com/20414081/159677186-ef3cbbd3-d1ef-4a10-871c-7ef4d578a796.png">
Nothing regarding checking it or using it to authorize by URI.

The thing that bugs me is, I found source code in keycloak where they check the URI and have tests for it: https://github.com/keycloak/keycloak/pull/7947/files
But t

[2022-03-28 10:02] isfand-apexe commented on #122
@KlausNie I have created `KeycloakModule` and added `KeycloakService` in its `providers` and `exports`. But still getting that same error

[2022-03-28 10:17] KlausNie commented on #122
If you have it in another module, make sure to export the Service in that module and add the module to the imports of the AppModule.

On another note: could you show us you `KeycloakConfigService`?

[2022-03-28 10:30] isfand-apexe commented on #122
This is my `KeycloakService`
`import {
  KeycloakConnectOptions,
  KeycloakConnectOptionsFactory,
  PolicyEnforcementMode,
  TokenValidation,
} from 'nest-keycloak-connect';

import { Injectable } from '@nestjs/common';
import { ConfigService } from '@nestjs/config';

import { IKeycloakConfig } from '../config.service';

@Injectable()
export class KeycloakConfigService implements KeycloakConnectOp

[2022-03-28 10:46] KlausNie commented on #122
I believe you have to add the `KeycloakConfigService` to the providers array of the `AppModule`.

Since the `KeycloakConfigService` is injected into the `KeycloakConnectModule.registerAsync` from the outside, you'd have to provide it from the outside. And that would then be the providers of the `AppModule`

[2022-03-28 11:24] isfand-apexe commented on #122
Added the `KeycloakConfigService` to the providers array of `AppModule` as well. But nest-cli still gives the above error attached in the screenshot.

[2022-03-28 12:34] KlausNie commented on #122
It could be that your `ConfigModule` needs to be globally accessible!
![image](https://user-images.githubusercontent.com/20414081/160398783-9130e199-7803-4ce8-a4d2-bb8b11bab0c6.png)

[2022-04-05 13:14] ferrerojosh commented on #122
Issue seemed to be resolved I guess ?

[2022-04-05 13:14] #122 closed

[2022-04-18 20:40] On365 opened #124 "multiTenant URI"
Hi, I would like to thank you for the excellent work with this component.
I would like to know how to leave the URI (LOGIN, TOKEN, LOGOUT) configured so that the realm can be obtained from the URL the same happens with validation when we use the multiTenant option

currently my URI is set in the .ENV file
the name REALM serves only to exemplify

KEYCLOAK_LOGIN_URI=http://localhost:8180/realms/REAL

[2022-04-19 11:01] On365 commented on #124
Thanks. I used the same logic used in the MultiTenant option to get the realm and replaced the URI. It worked..

once again congratulations for the work

[2022-04-19 11:01] #124 closed

[2022-04-19 13:28] On365 opened #125 "realmSecretResolver async"
is it possible to change this option so that the return can come from an async function? I made the change, to be able to put async but it's not getting the secret when it needs it.

multiTenant: {
        realmResolver: (request) => {
          console.log(`realmResolver:${request.get('host').split('.')[0]}`);
          return request.get('host').split('.')[0];
        },
        realmSecretResol

[2022-04-20 03:01] ferrerojosh commented on #125
This is a good enhancement. Thanks! This might break other users who don't use async so I'll implement it with a fallback.

[2022-04-20 03:39] #125 closed

[2022-04-20 11:27] On365 commented on #125
It worked. However, there is a question I would like to discuss with you.
If the Secret Key is only in the database for some reason, it does not reload the new one and continues validating with the old one. It only reloads if I restart the service.
Would it be possible to change it so that if it is not authorized it tries to get a new secret, or if that is not possible, could you create a configur

[2022-04-20 11:41] On365 opened #126 "realmSecretResolver async (don't reload secret key)"
the issue #115 Works

However, there is a question I would like to discuss with you.
If the Secret Key is only in the database for some reason, it does not reload the new one and continues validating with the old one. It only reloads if I restart the service.
Would you create a configuration (reloadSecretKeyIfFail) so that if the validation fails, it tries to get a new secret, or if that is not po

[2022-04-20 22:08] ferrerojosh commented on #126
Ah this is because a keycloak instance is created per realm, and if you want to change the secret key on the fly, it needs to create a new instance (in the case of multitenant, these instances are stored in memory), this is due to the project being an adapter of the official library.

I could allow a flag to always create a new instance but it'll always create a new keycloak instance and will prob

[2022-04-22 16:36] On365 commented on #126
Come on.

I'm new to JS/TS, but I've been programming for some time in delphi.

Since there is an instance created I made a motive to change this instance mediate to a configuration. I don't know the impact of this on the keycloak ecosystem or within its lib. But apparently resolves without having to create a new instance.

tell me what you think.
to be able to change it I had to fork it from your

[2022-04-25 04:26] ferrerojosh commented on #126
If there is no issue with it, then we can go with this. Hopefully it doesn't have any side affects.

I'll make a change for this.

[2022-05-04 12:01] medfata opened #127 "Roles Guard should merge "class" and "handler" roles !"
i think it would be great if we can just decorat the controller class with the roles decorator so that they apply to each method in it instead of repeating the decorator for each handler in the controller:
by using nestjs reflector.getAllAndMerge instead of reflector.getAllAndOverride

[2022-05-14 18:25] masterbater opened #128 "SPA Public Type Client"
Is it possible we could only use the decorators for rbac like @Roles without setting up client with confidential type (with secret field) and just verify the access token?

[2022-05-14 22:48] bonnzer commented on #123
URIs [should be sent](https://github.com/keycloak/keycloak-nodejs-connect/blob/24722273ee856189f2f54b5aaada70ad32d4a11b/keycloak.js#L230) and checked as well I guess, otherwise a huge part of resource-based Keycloak protection functionality will be lost.

[2022-05-19 20:26] ferrerojosh commented on #127
This should be an option in the configuration. To avoid breaking other existing code.

[2022-05-19 20:30] ferrerojosh commented on #128
I'll see what I can do. Normally you could use Passport for this, but I guess you want Keycloak's token verification and PKCE support.

[2022-05-19 23:24] bonnzer commented on #123
@ferrerojosh @KlausNie Let's say we have [following controller](https://gist.github.com/bonnzer/6ecf21feb71e210c64781d88a8211244) and `AdminOrResourceOwnerPolicy`.
We have a lot of resources like `<userId>MessagesResource` containing respective URIs like `/users/<userId>/messages/*`.
So the question is - how to protect this controller with current Resources guard implementation? I think this guard

[2022-05-19 23:44] ferrerojosh commented on #123
The issue is that Keycloak is not checking or using authorization for those URIs at all and is beyond my control since this is just an adapter for their official nodejs library.

I should be closing this issue for now since it might bring confusion to a lot of people.

[2022-05-27 09:36] ZerNico commented on #86
Do you possibly still have that code around and could share it?

[2022-06-01 20:21] lieberlois commented on #62
Hi @ferrerojosh ,

I just tried using the new token validation disable method in development like this:

[code]

Unfortunately i still get the following log:

[code]

Any ideas? 😢

[2022-06-02 07:52] lieberlois commented on #62
If anybody comes across the same problem, this ENV variable fixes the issue

[code]

[2022-06-11 12:18] jonesir opened #129 "Client Id and Secret support?"
Hi I am using the approach with Client Id and Secret and was able to retrieve access_token with username and password, however, when passing this to the backend, I got:
`WARN [Keycloak] Cannot validate access token: Error: Grant validation failed. Reason: failed to load public key to verify token. Reason: Expected "jwk" to be an Object`

Which means the `kid` in this access_token does not exist in

[2022-07-03 11:39] satanshiro commented on #118
if you want to know the library is calling the introspect endpoint so have it work by calling it yourself first:
![image](https://user-images.githubusercontent.com/38865738/177037831-f3d57a1f-abf0-419a-b416-fe3303fe899f.png)
alternatively if you call the user info instead you will get a valid token for bearer only

[2022-07-08 13:35] SebastianSchenk commented on #110
According to the official [deprecation announcement](https://www.keycloak.org/2022/02/adapter-deprecation), [openid-client](https://www.npmjs.com/package/openid-client) seams to be the recommended library for nodejs. Maybe it makes sense to use this as the underlying library.

[2022-07-08 22:04] vduronqim opened #130 "support @nestjs/common and @nestjs/core ^9.0.0"
`@nestjs/common` and `@nestjs/core` peerDependency is set to` ^6.0.0 || ^7.0.0 || ^8.0.0 ` Is it possible to update these dependency up to ^9.0.0 ? Maybe will work out of the box if there are no breaking changes

[2022-07-13 18:28] #126 closed

[2022-07-13 18:28] #130 closed

[2022-07-13 18:28] #127 closed

[2022-07-14 09:37] hamzasaiff195 opened #131 "Dynamic Resource Decorator in Nest Js application"
We are using keycloak for user authentication and authorization in Nest Js application.
We want to implement resource-based-authorization and user-managed-access and for this purpose we need to customize or dynamic @Resource() Decorator.
For example if a person bob has resource named 'Alpha' then we have to pass that resources name in Decorator ==> @Resource('Alpha') then it'll allow request to mo

[2022-07-16 16:01] maitrungduc1410 commented on #62
it took me a day to realize that `authServerUrl` should be`http://localhost:8080`, not  `http://localhost:8080/auth` like the tutorial in the docs.

@ferrerojosh please check and update your docs

[2022-08-23 06:45] khanisak commented on #118
Running into very same issue today.

After digging to the code which @ferrerojosh and @satanshiro mentioned, I try to calling intropection url from postman and realised that  **client_secret** is required parameter to introspect the token.

In my case, keycloak.json generated from keycloak admin console not included the secret key. After I insert secret key into keycloak.json, TokenValidation.ONLI

[2022-08-26 16:18] conioX opened #132 "keyclock connect deprecard"
based on the official keycloack website (https://www.keycloak.org/downloads) i think keycloak-connect already deprecated

and they suggest to use openid-client
https://www.keycloak.org/2022/02/adapter-deprecation

[2022-08-26 23:44] ferrerojosh commented on #132
This is already mention in #110

[2022-08-26 23:44] #132 closed

[2022-08-27 17:20] vk-detrans commented on #37
If someone is looking for a bearer-only approach, I found [this blog post](https://itnext.io/protecting-your-nestjs-api-with-keycloak-8236e0998233) useful. Thanks @paztek

[2022-09-08 16:17] valerii15298 commented on #37
@ferrerojosh hello. Any updates on this one?
I am using this config
[code]
But `secret` is required. What value should I provide for the secret?
And should I use this secret field at all?
I am using last version of "nest-keycloak-connect": "^1.9.0",

[2022-09-08 16:22] vk-detrans commented on #37
@valerii15298 could you please try this? Use the above config and have empty string as `secret` if you only want to verify bearer token.

[2022-09-08 16:42] valerii15298 commented on #37
@vk-detrans thanks you very much for such a quick response. And what do you mean by `only verify bearer token` ?

I need also all my guards, Roles and other decorators to work properly.

[2022-09-08 16:48] vk-detrans commented on #37
@valerii15298 I didn't check that part, but I think we get the roles info in the JWT.

I meant the `keycloak-connect`'s option
[code]

I found that we don't need this when we use offline token validation.

Please try and update 🙂

[2022-09-16 21:40] cybercoder opened #133 "role doesn't match!"
I'm using in multi-tenant mode with ```bearerOnly: true```
I've registered the module like this:

import:
[code]
and providers:
[code]
The log shows everything is correct but resources are denied due to mismatched role(s). The example controller:
[code]

The log shows:
[code]
As you see ```"realm_access":{"roles":["default-roles-testrealm","offline_access","admin","uma_authorization"]}```
But the

[2022-09-17 18:17] ferrerojosh commented on #133
It seems to be realm role, try prefixing it with `realm:` so it should be `realm:admin`

[2022-09-30 23:15] AlessandroStaffolani opened #134 "Check user role manually"
I'm trying to build a custom guard to verify that the logger user is the same asking for resources belonging to him. For example, if I have a resource `/users/alice/cats` I want to verify that alice is the current user. In addition, my custom guard should allow access to the resource if the user has role `admin`.

For the first step I simply use the user in the request and verify the param, here i

[2022-10-03 12:43] teuchezh commented on #111
@chrath i have same issue in local development, how you solved it?

[2022-10-03 15:54] Memo99 opened #135 "@AuthenticatedUser undefined"
Hi,

when using the AuthenticatedUser decorator it is undefined. Could you give an example?

[code]

[2022-10-03 19:33] Memo99 commented on #135
okay solved it myself, you need to register the keycloak module also in the submodules.

[2022-10-03 19:33] #135 closed

[2022-10-03 21:57] bonnzer commented on #123
Hello @ferrerojosh @KlausNie
I've spent some time investigating how it all works (and should work) and here are my conclusions:
* native `keycloak-connect` library [supports URI param passing](https://github.com/keycloak/keycloak-nodejs-connect/blob/24722273ee856189f2f54b5aaada70ad32d4a11b/keycloak.d.ts#L337), so obviously it was done for some purpose.. ->
* it passes this info as a `claim_token`

[2022-10-03 22:07] bonnzer commented on #131
Agree. Resource should accept dynamic data to allow pass resource names (or resource URIs #123, but names are preferred)

There's no solution yet I guess

[2022-10-05 06:11] Israel001 commented on #100
@ferrerojosh An example would be really nice boss (:

[2022-10-05 14:11] ferrerojosh commented on #131
There is no solution for now, this needs to be a feature along with #123

[2022-10-05 15:14] ferrerojosh commented on #134
If you want the keycloak instance, inject it using the `KEYCLOAK_INSTANCE` provider

[2022-10-05 20:49] ale8193 commented on #134
Can you provide an example of how to properly inject the instance?
I tried in the `app.module` (where I register the `KeycloakConnectModule`) to export the provider, but when I'm injecting the instance nest cannot resolve it.

I inject the instance like so:

[code]

[2022-10-07 06:09] JAZZ-FROM-HELL opened #136 "Installing with keycloak-connect >=19.0.0 warns "Some peer dependencies are incorrectly met""
Installing my project with Yarn 3, I'm getting the following warning:

[code]

Running `yarn explain peer-requirements pb1244`:

[code]

Why is keycloak-connect dependency limited to older versions? Version 19.x should be supported.

Note that this is just a warning and I didn't encounter any issues so far, although my usage is fairly basic.

[2022-10-11 00:43] MoacirCarlos commented on #112
I have the same problem, the workaround I found was to work with 2 clients, the public one for the frontend and the confidential one for the backend.

Kind of meaningless, because the token generated in the public has to be valid for the backend which is confidential...

[2022-10-14 10:26] IRuFFeYI opened #137 "ResourceGuard always results in 403 Forbidden Error?"
I try to use Keycloak as  Authorization Services. I want to secure the endpoints of my REST API with resources, scopes and permissions.

The problem is, I get a 403 Forbidden Resource Error on every request. I try to explain my whole configuration with a lot of images. Am I missing something or have I misunderstood something?

## Keycloak Configuration

**Configuration of the client:**
![image](ht

[2022-10-15 21:58] ferrerojosh commented on #136
It should be no issue. If `keycloak-connect` update to `19.0.0` didn't bring about any breaking changes then you can ignore the warning. Next release will bump the dependency version.

Most of the time `keycloak-connect` just bumps its dependency versions and release it as a next version to follow suit the current Keycloak server version.

[2022-10-15 21:58] #136 closed

[2022-10-15 22:06] ferrerojosh commented on #137
Ah I think its due to the fact your scopes have the `:` character in it.

If you think of the file in the official `keycloak-connect` library:
https://github.com/keycloak/keycloak-nodejs-connect/blob/f8e397cd7a1a763db5a45a07c3c3e40fec5cf8f2/middleware/enforcer.js#L18-L33

It splits off permission which is `permission:scope` by simply a split `:`.

What happened here is that the underyling `keycloa

[2022-10-16 13:56] IRuFFeYI commented on #137
Thank you very much. This really helped me so much. You made my week 😁

[2022-10-16 13:58] #137 closed

[2022-10-17 08:14] teuchezh commented on #135
can you provide more information? i have same issue.

[2022-10-27 16:27] na-ji commented on #136
Hello,

On npm > 8, this is not a warning, but an error that breaks the installation of dependencies. For example:

[code]

Would it be possible to release a new version just to bump the keycloak-connect version? This would prevent us from using legacy peer deps.

[2022-10-31 11:32] IRuFFeYI commented on #123
so I understand it correctly that at the moment it is not possible to secure an exact resource.

In my scenario, users can upload files and access them via the rest api. I want that when a file is uploaded, it is only accessible by a certain group.

The endpoint is accessible under `{{baseurl}}/files/{id}`

Thus, it is very important that I have a keycloak resource for just that url.
In keycloak I

[2022-11-01 20:38] ale8193 commented on #134
Any updates on this?

[2022-11-02 04:02] supun19 commented on #86
is someone have an example code to do this

[2022-11-07 13:29] blured75 opened #140 "Allow fallback configuration for KeycloakConnectModule"
Hello,

First of all, thanks a lot for this module.
I've got however a proposition to extend this module : It would super helpful, that we can set 2 configurations for KCM. I mean one standard and the other in case of any problem with the first. The idea is to make the query with the first configuration and if there is anykind of problem like technical error or user rejected or not authorized, the

[2022-11-13 10:05] TheSlimvReal opened #141 "Redirect to login"
The function `keycloak.protect()` of `keycloak-connect` automatically redirects to the keycloak login page if a user is unauthenticated.
Is there a way to implement a similar logic with the `AuthGuard` of this library?

My use case is that I have GET requests to my backend which redirect the user to another website. Now I want this redirect to only happen if the user is authenticated and if, not r

[2022-11-18 13:15] smolinari commented on #82
One can do multi-tenancy without doing a realm per customer by using groups. (theoretical on my part as it's only what I've learned from my research). Also AFAIK, it is even suggested that doing multi-tenancy with realms is an overall bad idea for the sake of Keycloak's performance (with 100s and 100s of realms, Keycloak will dog down).

The only reason you might want to do a different realm per c

[2022-11-18 13:17] smolinari opened #143 "Version 20 of keycloak-connect"
Hi,

I see the peer dependency is currently only 19. Will this be increased soon now that version 20 of connect is out?

Scott

[2022-11-18 20:38] EFritzsche90 commented on #82
Hi Scott,

there are a lot of things in your post I would agree, but exactly the reason you have mentioned as only reason where it might make sense is my use case. :D
Of course you can solve it by infrastructure, but in the end the whole solution should be somehow economically. Having a complete installation for each customer would blow up the costs of my infrastructure (already running in K8s). T

[2022-11-19 05:56] smolinari commented on #82
@EFritzsche90 - What is it you are considering "too expensive"? You'd only need a single pod per customer (and obviously not having some sort of High Availability SLA), which costs, depending on your nodes, say a 100th of the node cost to run (assuming you can get 100 pods running on a node, which should be doable even with a moderate node). So, if a node costs $100 to run a month, and that would

[2022-11-28 01:51] gwx868323 commented on #40
Dear all, is there the same fix for springboot adaptor?